/* line 9, D:/GIT/Aleksei_Rakitski/sass/style.scss */
body {
  background: none repeat scroll 0 0 #f7f8f9;
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  text-transform: uppercase; }

/* line 17, D:/GIT/Aleksei_Rakitski/sass/style.scss */
a {
  color: #e8e8e8;
  text-decoration: none; }

/* line 22, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.wrapper {
  margin: 0 auto;
  max-width: 1174px;
  padding: 0 15px; }

/* line 28, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.fa {
  font-size: 17px; }

/* line 32, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.float-right {
  float: right;
  position: relative; }

/* line 37, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.color-pink {
  color: #ff6766; }

/* line 41, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.color-gainsboro {
  color: #dcdcdc; }

/* line 45, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.multi-line {
  border-bottom: 2px solid #ff6766;
  border-top: 1px solid #ff6766;
  height: 2px;
  margin: 5px auto 27px;
  width: 40px; }

/* line 53, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.button {
  background-color: transparent;
  border: 2px solid #ff6766;
  float: left;
  font-size: 12px;
  height: 20px;
  padding: 8px 15px;
  text-align: center; }
  /* line 62, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .button a {
    color: #000;
    font-weight: bolder; }

/* line 68, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.button:hover {
  background-color: #f06160; }
  /* line 71, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .button:hover a {
    color: #fff; }

/* line 76, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.my-slide {
  height: 445px; }
  /* line 79, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .my-slide .item {
    background-color: #fff;
    float: left;
    height: inherit;
    margin: 1%;
    position: relative;
    text-align: center;
    width: 270px; }
    /* line 88, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .my-slide .item .item-image {
      position: relative; }
      /* line 91, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .my-slide .item .item-image img {
        height: auto;
        width: 100%; }
  /* line 98, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .my-slide .item:hover .item-menu {
    opacity: 1;
    transition: all 250ms ease 0s; }
  /* line 103, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .my-slide .item-menu {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 250ms;
    width: 100%; }
    /* line 113, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .my-slide .item-menu ul {
      background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
      list-style: outside none none;
      margin: 165px 0 0;
      padding: 0; }
    /* line 120, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .my-slide .item-menu li {
      border-right: 1px solid #dcdcdc;
      display: inline-block;
      padding: 2px 11px 2px 7px;
      position: relative; }
      /* line 126, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .my-slide .item-menu li a {
        color: #000; }
      /* line 130, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .my-slide .item-menu li .tr-text {
        font-size: 11px;
        font-weight: 500; }
    /* line 136, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .my-slide .item-menu li:last-child {
      border-right: 0; }
    /* line 140, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .my-slide .item-menu li:hover::before {
      background-color: #000;
      content: '';
      height: 5px;
      left: 0;
      position: absolute;
      top: -5px;
      width: 100%; }
  /* line 151, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .my-slide .item-new {
    border: 1px solid #ff6766;
    font-size: 11px;
    font-weight: bold;
    left: 15px;
    position: absolute;
    top: 20px; }
    /* line 159, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .my-slide .item-new p {
      background-color: #ff6766;
      color: #fff;
      padding: 2px 11px; }
    /* line 165, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .my-slide .item-new span {
      display: block;
      margin: 4px auto; }
  /* line 171, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .my-slide .item-sub {
    padding: 20px 10px; }
    /* line 174, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .my-slide .item-sub .br {
      display: block; }
    /* line 178, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .my-slide .item-sub .color-gainsboro {
      text-decoration: line-through; }

/* line 184, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.dots-section {
  left: 50.4%;
  margin-left: -26%;
  padding-left: 7px;
  position: absolute;
  text-align: center;
  width: 50%; }
  /* line 192, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .dots-section .dot {
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    height: 6px;
    margin: 0 4px;
    text-indent: -999px;
    width: 6px; }
  /* line 204, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .dots-section .active {
    background-color: #ff6766;
    border: 1px solid #ff6766; }

/* line 212, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.header-level-one {
  background: none repeat scroll 0 0 #212121;
  color: #e8e8e8;
  height: 17px;
  padding: 12px 0 15px 0; }
  /* line 218, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-one a {
    color: #e8e8e8; }
  /* line 222, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-one a:hover {
    color: #ff6766; }
  /* line 226, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-one a:active {
    color: #ff6766; }
  /* line 230, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-one .part-section {
    float: left;
    padding-top: 2px;
    width: 50%; }
    /* line 235, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-one .part-section .float-right {
      margin-right: 5px; }
    /* line 239, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-one .part-section .delivery-icon {
      padding-right: 10px;
      margin-top: -2px; }
    /* line 244, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-one .part-section img {
      float: left;
      margin-top: 2px; }
    /* line 249, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-one .part-section p {
      color: #e8e8e8;
      float: left;
      font-size: 12px;
      font-weight: 400;
      margin-right: 25px; }
    /* line 257, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-one .part-section .language-list {
      display: inline-block;
      float: left;
      font-size: 12px;
      margin: 0 40px 0 10px;
      position: relative; }
    /* line 265, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-one .part-section .language-list::after {
      border: 5px solid transparent;
      border-left: 5px solid #e8e8e8;
      content: '';
      position: absolute;
      right: -14px;
      top: 4px;
      transform: rotate(90deg); }

/* line 279, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.header-level-two {
  color: #e8e8e8;
  height: 32px;
  padding: 45px 0 34px 0; }
  /* line 284, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-two a {
    color: #000; }
  /* line 288, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-two a:hover {
    color: #000;
    text-decoration: underline; }
  /* line 293, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-two a:active {
    color: #000;
    text-decoration: underline; }
  /* line 298, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-two .search-wrapper {
    float: left;
    width: 25%; }
    /* line 302, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-two .search-wrapper a {
      font-size: 20px; }
    /* line 306, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-two .search-wrapper input[type='text'] {
      background: none repeat scroll 0 0 #f7f8f9;
      border: medium none;
      color: #000;
      display: inline-block;
      font-size: 12px;
      font-weight: 550;
      margin-left: 7px;
      text-transform: uppercase; }
    /* line 317, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-two .search-wrapper ::-webkit-input-placeholder {
      color: #000; }
    /* line 320, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-two .search-wrapper ::-moz-placeholder {
      color: #000; }
    /* line 323, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-two .search-wrapper :-moz-placeholder {
      color: #000; }
    /* line 326, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-two .search-wrapper :-ms-input-placeholder {
      color: #000; }
  /* line 331, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-two .logo {
    float: left;
    margin-left: -3px;
    margin-top: -2px;
    text-align: center;
    width: 50%; }
  /* line 339, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-two .buttons-wrapper {
    float: left;
    margin: auto 0;
    width: 25%; }
    /* line 344, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-two .buttons-wrapper li {
      display: inline-block;
      float: right;
      font-size: 12px;
      font-weight: 550;
      margin-left: 30px; }
    /* line 352, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-two .buttons-wrapper .comments-count {
      background: url("../images/header-level-two/wishlist_bg.png") no-repeat scroll 0 0 transparent;
      height: 22px;
      left: 82px;
      position: absolute;
      text-align: center;
      top: -24px;
      width: 26px; }
      /* line 361, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .header-level-two .buttons-wrapper .comments-count span {
        color: #fff; }

/* line 370, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.header-level-three {
  background: none repeat scroll 0 0 #ff6766;
  color: #e8e8e8;
  height: 60px; }
  /* line 375, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-three a {
    color: #fff;
    font-weight: bold; }

/* line 381, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.menu-left {
  background: none repeat scroll 0 0 #f06160;
  float: left;
  padding: 20px 0;
  position: relative;
  width: 16.2%; }
  /* line 388, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-left a {
    margin: auto 5px; }
    /* line 391, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-left a span {
      margin-left: 15px; }
  /* line 396, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-left .fa-bars {
    margin-left: 52px; }
  /* line 400, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-left .cat-menu {
    background-color: #f9f9f9;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    display: 0;
    position: absolute;
    width: 280px;
    z-index: 1; }
    /* line 408, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-left .cat-menu a {
      color: #000;
      display: inline-block;
      width: 220px; }
  /* line 415, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-left .menu-list {
    color: #ff6766;
    font-size: 12px;
    list-style: disc;
    margin: 5px 0;
    margin-left: 32px; }
    /* line 422, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-left .menu-list li {
      padding: 13px 0;
      position: relative; }
    /* line 427, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-left .menu-list li::after {
      background-color: rgba(0, 0, 0, 0.2);
      content: '';
      height: 1px;
      left: -15px;
      position: absolute;
      top: 42px;
      width: 240px; }
    /* line 437, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-left .menu-list li:last-child::after {
      height: 0; }
  /* line 442, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-left .shirts-button li {
    margin-left: 32px; }
  /* line 446, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-left .shirts-button:hover .shirts-menu {
    display: block; }
  /* line 450, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-left .category-menu {
    display: none;
    top: 60px; }
  /* line 455, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-left .shirts-menu {
    display: none;
    left: 216px;
    top: -6px; }

/* line 462, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.menu-left:hover .category-menu {
  display: block; }

/* line 466, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.menu-center {
  border-top: 5px solid #f7f8f9;
  float: left;
  height: 61px;
  padding: 0 4.2%;
  width: 59.1%; }
  /* line 473, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-center li {
    display: inline-block;
    float: left;
    padding: 17px 4.4% 24px 4.3%;
    position: relative;
    text-align: center; }
  /* line 481, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-center li:hover::before {
    background-color: #000;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    top: -5px;
    width: 101%; }

/* line 492, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.menu-right {
  background: none repeat scroll 0 0 #f06160;
  float: left;
  padding: 18px 0 17px;
  position: relative;
  width: 16.2%; }
  /* line 499, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-right a > img {
    float: left;
    margin-left: 30px;
    margin-right: 10px;
    padding-bottom: 5px; }
  /* line 506, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-right a > span {
    display: inline-block;
    padding-top: 3px; }
  /* line 511, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-right .cart-menu {
    background-color: #f9f9f9;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    display: none;
    font-size: 12px;
    left: -144px;
    position: absolute;
    top: 60px;
    width: 334px;
    z-index: 1; }
    /* line 522, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-right .cart-menu a {
      color: #000; }
  /* line 527, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-right .cart-item {
    height: 76px;
    padding: 19px;
    padding-right: 50px;
    position: relative; }
    /* line 533, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-right .cart-item .item-left {
      float: left;
      width: 38%; }
    /* line 538, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-right .cart-item .item-right {
      float: left;
      padding: 3%;
      position: relative;
      width: 56%; }
      /* line 544, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .menu-right .cart-item .item-right h5 {
        font-weight: bold; }
      /* line 548, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .menu-right .cart-item .item-right span {
        color: #ff6766;
        font-weight: bold; }
      /* line 553, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .menu-right .cart-item .item-right .close-icon {
        color: #000;
        height: 14px;
        left: 175px;
        position: absolute;
        text-align: center;
        top: 8px;
        width: 14px; }
  /* line 565, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-right .cart-item::after {
    background-color: rgba(0, 0, 0, 0.2);
    content: '';
    height: 1px;
    left: 20px;
    position: absolute;
    top: 115px;
    width: 292px; }
  /* line 575, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-right .cart-total {
    height: 20px;
    margin: 18px 20px 20px; }
    /* line 579, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-right .cart-total p {
      color: #000;
      font-weight: bold; }
    /* line 584, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-right .cart-total .total-left {
      float: left;
      width: 50%; }
    /* line 589, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-right .cart-total .total-right {
      float: left;
      width: 50%; }
    /* line 594, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-right .cart-total .total-right p {
      text-align: right; }
  /* line 601, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-right .cart-buttons .cart-button {
    background: none repeat scroll 0 0 #ff6766;
    float: left;
    height: 20px;
    padding: 12px 0;
    text-align: center;
    width: 50%; }
    /* line 609, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-right .cart-buttons .cart-button a {
      color: #e8e8e8;
      font-size: 14px; }
  /* line 615, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-right .cart-buttons .cart-button:hover {
    background: none repeat scroll 0 0 #f06160; }

/* line 621, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.menu-right:hover .cart-menu {
  display: block; }

/* line 627, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.banner {
  background-image: url("../images/banner/banner_bg.png");
  height: 650px; }
  /* line 631, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .banner .description-left {
    padding: 200px 0;
    position: relative;
    width: 50%; }
    /* line 636, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .banner .description-left span {
      display: block; }
    /* line 640, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .banner .description-left span.name {
      -webkit-text-stroke-color: #fff;
      -webkit-text-stroke-width: 2px;
      font-size: 65px;
      font-weight: bolder; }
    /* line 647, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .banner .description-left span.description {
      font-size: 16px;
      font-weight: bolder;
      position: relative; }
      /* line 652, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .banner .description-left span.description span {
        display: inline; }
    /* line 657, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .banner .description-left span.description::after {
      background-color: #dcdcdc;
      content: '';
      height: 5px;
      left: 5px;
      position: absolute;
      top: 35px;
      width: 100px; }
    /* line 667, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .banner .description-left .additions {
      font-size: 16px;
      font-weight: bold;
      margin: 35px 0; }
      /* line 672, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .banner .description-left .additions span {
        display: inline; }
  /* line 678, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .banner .offer-tag {
    background: url("../images/banner/circle.png") no-repeat scroll 0 0 transparent;
    height: 106px;
    left: 95.5%;
    position: absolute;
    text-align: center;
    top: 24.5%;
    width: 106px; }
    /* line 687, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .banner .offer-tag .text {
      display: block;
      font-size: 15px;
      margin: 24% 23%;
      width: 42%; }
      /* line 693, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .banner .offer-tag .text span {
        color: #fff;
        display: block;
        font-weight: bold; }
      /* line 699, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .banner .offer-tag .text .discount {
        font-size: 17px; }
  /* line 705, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .banner .offer-tag::before {
    border-left: 1px solid #d1d1d1;
    content: '';
    display: inline-block;
    height: 158%;
    left: 43.6%;
    position: absolute;
    top: -140%; }

/* line 718, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.features {
  height: 76px;
  padding-top: 36px;
  position: relative; }
  /* line 723, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .features .wrapper::after {
    border-bottom: 1px dotted #999;
    bottom: -2px;
    content: '';
    left: 7%;
    position: absolute;
    width: 86%; }
  /* line 732, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .features li {
    border-right: 1px solid #d1d1d1;
    display: block;
    float: left;
    font-size: 11px;
    height: 40px;
    padding: 0 4.6%;
    width: 18%; }
    /* line 741, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .features li img {
      float: left;
      height: 42px;
      margin-right: 20px; }
    /* line 747, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .features li span {
      display: block;
      font-weight: bold;
      padding-top: 5px; }
  /* line 754, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .features li:first-child {
    padding-left: 0; }
  /* line 758, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .features li:last-child {
    border-right: none;
    padding-right: 0; }
    /* line 762, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .features li:last-child span {
      padding-top: 13px; }

/* line 768, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.features::after {
  border-bottom: 1px dotted #999;
  bottom: 1px;
  content: '';
  left: 7%;
  position: absolute;
  width: 86%; }

/* line 779, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.trending-clothing {
  padding: 63px 0; }
  /* line 782, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .trending-clothing .description > span {
    display: block;
    font-weight: bold;
    text-align: center; }
  /* line 788, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .trending-clothing .description .name {
    font-size: 26px; }
  /* line 792, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .trending-clothing .content {
    position: relative; }
    /* line 795, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .trending-clothing .content .select {
      display: block;
      font-weight: bold;
      margin-bottom: 42px;
      text-align: center; }
      /* line 801, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .trending-clothing .content .select a {
        color: #999;
        font-weight: bold;
        margin: 0 5px; }
      /* line 807, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .trending-clothing .content .select a.active {
        color: #000; }
    /* line 812, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .trending-clothing .content .dots-section {
      top: 563px; }
  /* line 817, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .trending-clothing .my-slides {
    height: 445px;
    padding-bottom: 7.8%; }
    /* line 821, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .trending-clothing .my-slides .my-slide {
      display: none; }
    /* line 825, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .trending-clothing .my-slides .my-slide:first-child {
      display: block; }

/* line 833, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.promotion {
  height: 470px; }
  /* line 836, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .promotion .collumn {
    background-color: #f2f4f5;
    float: left;
    width: 50%; }
    /* line 841, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .promotion .collumn .big-font {
      font-size: 32px; }
    /* line 845, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .promotion .collumn span {
      display: block;
      font-weight: bold; }
    /* line 850, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .promotion .collumn span.color-pink {
      display: inline-block; }
    /* line 854, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .promotion .collumn span.with-border {
      border-bottom: 1px solid #d1d1d1;
      border-top: 1px solid #d1d1d1;
      display: inline-block;
      font-size: 11px;
      margin: 30px 0;
      padding: 5px 4px;
      position: static; }
    /* line 864, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .promotion .collumn .side-left {
      display: inline-block;
      float: left;
      height: 200px;
      margin-bottom: 91px;
      margin-left: 0px;
      margin-top: 179px;
      text-align: center;
      width: 51%; }
      /* line 874, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .promotion .collumn .side-left span.color-pink {
        margin-bottom: -6px; }
      /* line 878, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .promotion .collumn .side-left span.with-border {
        margin: 21px 0 29px 0; }
      /* line 882, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .promotion .collumn .side-left .button {
        font-size: 11px;
        margin: 0 33%;
        padding: 12px 23px 5px; }
    /* line 889, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .promotion .collumn .side-right {
      display: inline-block;
      float: right;
      height: 200px;
      margin-bottom: 92px;
      margin-right: 0px;
      margin-top: 178px;
      text-align: center;
      width: 51%; }
      /* line 899, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .promotion .collumn .side-right span.with-border {
        margin: 15px 0 34px 0; }
      /* line 903, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .promotion .collumn .side-right .button {
        border: 2px solid #ff6766;
        font-size: 11px;
        margin: 0 26%;
        padding: 12px 23px 6px; }
  /* line 912, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .promotion .collumn:hover {
    background-color: #eef1f2; }

/* line 919, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.featured-products {
  padding: 92px 0; }
  /* line 922, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .featured-products .description > span {
    display: block;
    font-weight: bold;
    text-align: center; }
  /* line 928, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .featured-products .description .name {
    font-size: 26px;
    margin-bottom: -4px; }
  /* line 933, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .featured-products .description .multi-line {
    margin-bottom: 25px; }
  /* line 937, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .featured-products .content {
    position: relative; }
    /* line 940, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .featured-products .content .select {
      display: block;
      font-weight: bold;
      margin-bottom: 47px;
      text-align: center; }
      /* line 946, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .featured-products .content .select a {
        color: #999;
        font-weight: bold;
        margin: 0 5px; }
      /* line 952, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .featured-products .content .select a.active {
        color: #000; }
  /* line 958, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .featured-products .my-slides {
    height: 947px; }
  /* line 962, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .featured-products .my-slide:nth-child(2) {
    margin-top: 40px; }

/* line 969, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.blog {
  background-color: #f2f4f5;
  padding: 92px 0; }
  /* line 973, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .blog .description > span {
    display: block;
    font-weight: bold;
    text-align: center; }
  /* line 979, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .blog .description .name {
    font-size: 26px; }
  /* line 983, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .blog .description .multi-line {
    margin-bottom: 31px; }
  /* line 987, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .blog .content {
    position: relative; }
  /* line 991, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .blog .select {
    display: block;
    height: 30px;
    margin-bottom: 52px;
    position: relative;
    text-align: center; }
    /* line 998, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .blog .select i {
      color: #fff;
      padding: 4px; }
    /* line 1003, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .blog .select .prev-control:hover {
      background: none repeat scroll 0 0 #ff6766; }
    /* line 1007, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .blog .select .next-control:hover {
      background: none repeat scroll 0 0 #ff6766; }
    /* line 1011, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .blog .select .prev-control {
      background: none repeat scroll 0 0 #e4e5e5;
      height: 26px;
      left: 47.5%;
      position: absolute;
      top: 0;
      width: 26px; }
    /* line 1020, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .blog .select .next-control {
      background: none repeat scroll 0 0 #e4e5e5;
      height: 26px;
      position: absolute;
      right: 47.4%;
      top: 0;
      width: 26px; }
  /* line 1030, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .blog .my-slides {
    height: 270px; }
  /* line 1034, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .blog .my-slide {
    display: none;
    height: inherit; }
    /* line 1038, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .blog .my-slide .button {
      padding: 8px 32px 8px 20px; }
    /* line 1042, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .blog .my-slide h2 {
      color: #ff6766;
      display: block;
      font-size: 45px;
      font-weight: 300;
      margin-bottom: -5px;
      text-align: left; }
      /* line 1050, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .blog .my-slide h2 span {
        color: #000;
        font-size: 31px;
        font-weight: 300; }
    /* line 1057, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .blog .my-slide .collumn {
      display: inline-block;
      float: left;
      height: inherit;
      width: 50%; }
      /* line 1063, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .blog .my-slide .collumn .item-text {
        display: inline-block;
        float: left;
        padding-right: 20px;
        width: 47%; }
      /* line 1070, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .blog .my-slide .collumn .item-img {
        padding-left: 5px;
        padding-top: 24px;
        display: inline-block;
        float: right;
        width: 47%; }
        /* line 1077, D:/GIT/Aleksei_Rakitski/sass/style.scss */
        .blog .my-slide .collumn .item-img img {
          float: left;
          height: auto;
          max-height: 246px;
          max-width: 252px;
          width: auto; }
  /* line 1088, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .blog .my-slide:first-child {
    display: block; }

/* line 1095, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.months .right {
  border-bottom: 1px solid #d1d1d1;
  font-size: 12px;
  font-weight: bold;
  height: 12px;
  margin-bottom: 18px;
  padding-bottom: 20px; }
  /* line 1103, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .months .right p {
    display: inline;
    float: left;
    width: 50%; }
  /* line 1109, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .months .right span {
    display: inline;
    float: left;
    text-align: right;
    width: 50%; }
    /* line 1115, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .months .right span i {
      color: #ff6766;
      font-size: 14px;
      padding: 0 5px; }

/* line 1123, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.months .item-bottom-text {
  font-size: 13px; }
  /* line 1126, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .months .item-bottom-text h4 {
    font-weight: 600;
    line-height: 22px; }
  /* line 1131, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .months .item-bottom-text p {
    color: #999;
    display: block;
    margin-bottom: 31px;
    margin-top: 7px;
    text-transform: none; }

/* line 1143, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.testimonials {
  padding: 80px 0; }
  /* line 1146, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .testimonials .description {
    text-align: center; }
    /* line 1149, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .testimonials .description span {
      display: block;
      font-weight: bold; }
  /* line 1155, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .testimonials .description .name {
    margin-top: 15px;
    font-size: 18px; }
  /* line 1160, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .testimonials .content {
    position: relative; }
  /* line 1164, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .testimonials .my-slides {
    height: 170px; }
    /* line 1167, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .testimonials .my-slides .my-slide {
      display: none;
      font-weight: 500;
      height: inherit; }
    /* line 1173, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .testimonials .my-slides .fa {
      color: #fff; }
    /* line 1177, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .testimonials .my-slides .fa-quote-left {
      margin-right: 15px; }
    /* line 1181, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .testimonials .my-slides .fa-quote-right {
      margin-left: 15px; }
    /* line 1185, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .testimonials .my-slides p.description {
      color: #555;
      font-size: 17px;
      font-style: italic;
      margin: 37px auto 38px;
      line-height: 27px;
      text-align: center;
      text-transform: none;
      width: 64%; }
    /* line 1196, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .testimonials .my-slides .author-box {
      margin: 0 auto;
      overflow: hidden;
      width: 18.5%; }
      /* line 1201, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .testimonials .my-slides .author-box img {
        float: left;
        margin-right: 10px;
        width: 17.4%; }
    /* line 1208, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .testimonials .my-slides .author-text {
      float: left;
      text-align: left;
      width: 77%; }
      /* line 1213, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .testimonials .my-slides .author-text h4 {
        color: #232323;
        font-size: 12px;
        font-weight: bold;
        margin-bottom: 5px; }
      /* line 1220, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .testimonials .my-slides .author-text p {
        color: #777;
        font-size: 11px;
        text-transform: uppercase; }
    /* line 1227, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .testimonials .my-slides .my-slide:first-child {
      display: block; }

/* line 1235, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.brand-logos {
  padding: 10px 0; }
  /* line 1238, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .brand-logos h2 {
    color: #232323;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 9%; }
  /* line 1247, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .brand-logos .dotted-line {
    border-bottom: 1px dotted #232323;
    border-top: 1px dotted #232323;
    float: left;
    height: 3px;
    margin-top: 9px;
    width: 86%; }
  /* line 1256, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .brand-logos .select {
    display: block;
    height: 18px;
    position: relative;
    text-align: center; }
    /* line 1262, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .brand-logos .select i {
      font-weight: bold; }
    /* line 1266, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .brand-logos .select .prev-control {
      background-color: transparent;
      color: #999;
      height: 18px;
      padding: 0 4px;
      position: relative;
      top: 0;
      width: 18px; }
    /* line 1276, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .brand-logos .select .next-control {
      background-color: transparent;
      color: #999;
      height: 18px;
      padding: 0 4px;
      position: relative;
      top: 0;
      width: 18px; }
    /* line 1286, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .brand-logos .select .prev-control:hover {
      color: #232323; }
    /* line 1290, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .brand-logos .select .next-control:hover {
      color: #232323; }
  /* line 1295, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .brand-logos .description {
    margin-bottom: 60px; }
  /* line 1299, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .brand-logos .content {
    position: relative; }
  /* line 1303, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .brand-logos .my-slides {
    height: 110px; }
    /* line 1306, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .brand-logos .my-slides .my-slide {
      display: inline-block;
      float: left;
      height: inherit;
      margin: 4px 10px;
      text-align: center;
      width: 175px; }
    /* line 1315, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .brand-logos .my-slides .my-slide:nth-child(7) {
      display: none; }
    /* line 1319, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .brand-logos .my-slides .my-slide:nth-child(8) {
      display: none; }

/* line 1327, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.footer-top {
  background: none repeat scroll 0 0 #2a2a2a;
  height: 42px;
  padding: 20px 0; }
  /* line 1332, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .footer-top .newsletter-wrapper {
    float: left;
    width: 50%; }
    /* line 1336, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .footer-top .newsletter-wrapper a {
      font-weight: 500; }
      /* line 1339, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .footer-top .newsletter-wrapper a i {
        margin-right: 5px; }
    /* line 1344, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .footer-top .newsletter-wrapper input[type='text'] {
      background: none repeat scroll 0 0 #232323;
      border: medium none;
      color: #fff;
      margin: 4px 6px 0 30px;
      padding: 12px 15px 8px 12px;
      width: 43%; }
    /* line 1353, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .footer-top .newsletter-wrapper input[type='submit'] {
      background: none repeat scroll 0 0 #232323;
      border: 1px solid #fff;
      color: #fff;
      font-weight: 500;
      margin-top: -8px;
      padding: 8px 15px;
      text-transform: uppercase; }
  /* line 1364, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .footer-top .credit-cards {
    float: left;
    width: 50%; }
    /* line 1368, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .footer-top .credit-cards a {
      display: inline-block;
      float: left;
      margin: 5px 5px; }
      /* line 1373, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .footer-top .credit-cards a img {
        height: 32px;
        width: auto; }

/* line 1383, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.site-map {
  background: none repeat scroll 0 0 #232323; }
  /* line 1386, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .site-map .wrapper {
    height: 258px;
    padding: 70px 0; }
  /* line 1391, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .site-map .collumn {
    float: left;
    padding: 0 15px;
    width: 22%; }
    /* line 1396, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .site-map .collumn h5 {
      color: #cecece;
      font-size: 15px;
      font-weight: bold; }
    /* line 1402, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .site-map .collumn .colorline {
      border-top: 1px solid #1a1a1a;
      margin-bottom: 30px;
      margin-top: 18px;
      position: relative; }
    /* line 1409, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .site-map .collumn .colorline::after {
      border-top: 1px solid #b65050;
      content: '';
      left: 0;
      position: absolute;
      top: -1px;
      width: 52px; }
    /* line 1418, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .site-map .collumn address {
      color: #aaa;
      font-weight: 500;
      line-height: 28px;
      text-transform: none; }
  /* line 1430, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .site-map ul.navigation li a {
    color: #aaa;
    display: block;
    font-weight: 500;
    padding: 5px 0;
    text-transform: none; }
  /* line 1440, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .site-map ul.social-links {
    margin-left: 27px;
    margin-top: 25px; }
    /* line 1444, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .site-map ul.social-links li {
      display: inline;
      margin-right: 5px; }
      /* line 1448, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .site-map ul.social-links li a {
        background: none repeat scroll 0 0 #373737;
        color: #aaa;
        display: inline-block;
        font-size: 14px;
        height: 25px;
        padding: 12px 0 0 13px;
        width: 25px; }

/* line 1463, D:/GIT/Aleksei_Rakitski/sass/style.scss */
footer .copyrights {
  background: none repeat scroll 0 0 #181818;
  padding: 18px 0; }
  /* line 1467, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  footer .copyrights .wrapper {
    color: #fff;
    font-size: 12px;
    text-align: center; }

/*# sourceMappingURL=style.css.map */