/* line 9, D:/GIT/Aleksei_Rakitski/sass/style.scss */
body {
  background: none repeat scroll 0 0 #f7f8f9;
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  text-transform: uppercase; }

/* line 17, D:/GIT/Aleksei_Rakitski/sass/style.scss */
a {
  color: #e8e8e8;
  text-decoration: none; }

/* line 22, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.wrapper {
  margin: 0 auto;
  max-width: 1170px;
  padding: 0 15px; }

/* line 28, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.fa {
  font-size: 17px; }

/* line 32, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.float-right {
  float: right;
  position: relative; }

/* line 37, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.color-pink {
  color: #ff6766; }

/* line 41, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.color-gainsboro {
  color: #dcdcdc; }

/* line 45, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.multi-line {
  border-bottom: 2px solid #ff6766;
  border-top: 1px solid #ff6766;
  height: 5px;
  margin: 0 auto 20px;
  width: 40px; }

/* line 53, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.button {
  background-color: transparent;
  border: 3px solid #ff6766;
  float: left;
  height: 20px;
  padding: 10px 15px;
  text-align: center; }
  /* line 61, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .button a {
    color: #000;
    font-weight: bolder; }

/* line 67, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.button:hover {
  background-color: #f06160; }
  /* line 70, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .button:hover a {
    color: #fff; }

/* line 75, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.my-slide {
  height: 430px; }
  /* line 78, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .my-slide .item {
    background-color: #fff;
    float: left;
    height: inherit;
    margin: 15px;
    position: relative;
    text-align: center;
    width: 260px; }
    /* line 87, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .my-slide .item .item-image {
      position: relative; }
      /* line 90, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .my-slide .item .item-image img {
        height: auto;
        width: 100%; }
  /* line 97, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .my-slide .item:hover .item-menu {
    opacity: 1;
    transition: all 250ms ease 0s; }
  /* line 102, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .my-slide .item-menu {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: 250ms;
    width: 100%; }
    /* line 112, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .my-slide .item-menu ul {
      background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
      list-style: outside none none;
      margin: 165px 0 0;
      padding: 0; }
    /* line 119, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .my-slide .item-menu li {
      border-right: 1px solid #dcdcdc;
      display: inline-block;
      padding: 2px 7px; }
      /* line 124, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .my-slide .item-menu li a {
        color: #000; }
    /* line 129, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .my-slide .item-menu li:first-child {
      border-right: 0;
      padding-right: 0; }
    /* line 134, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .my-slide .item-menu li:last-child {
      border-right: 0; }
  /* line 139, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .my-slide .item-new {
    border: 1px solid #ff6766;
    font-size: 11px;
    font-weight: bold;
    left: 15px;
    position: absolute;
    top: 15px; }
    /* line 147, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .my-slide .item-new p {
      background-color: #ff6766;
      color: #fff;
      padding: 2px 10px; }
  /* line 154, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .my-slide .item-sub {
    padding: 20px 10px; }
    /* line 157, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .my-slide .item-sub .br {
      display: block; }
    /* line 161, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .my-slide .item-sub .color-gainsboro {
      text-decoration: line-through; }

/* line 167, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.dots-section {
  left: 50%;
  margin-left: -26%;
  padding-left: 7px;
  position: absolute;
  text-align: center;
  width: 50%; }
  /* line 175, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .dots-section .dot {
    background-color: #ddd;
    border: 1px solid #ddd;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    height: 6px;
    margin: 1px;
    text-indent: -999px;
    width: 6px; }
  /* line 187, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .dots-section .active {
    background-color: #ff6766;
    border: 1px solid #ff6766;
    height: 8px;
    margin: 0;
    width: 8px; }

/* line 198, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.header-level-one {
  background: none repeat scroll 0 0 #212121;
  color: #e8e8e8;
  height: 17px;
  padding: 12px 0; }
  /* line 204, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-one a {
    color: #e8e8e8; }
  /* line 208, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-one a:hover {
    color: #ff6766; }
  /* line 212, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-one a:active {
    color: #ff6766; }
  /* line 216, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-one i {
    font-size: 17px;
    margin-right: 7px; }
  /* line 221, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-one .part-section {
    float: left;
    padding-bottom: -8px;
    width: 50%; }
    /* line 226, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-one .part-section img {
      float: left;
      margin-right: 10px; }
    /* line 231, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-one .part-section p {
      color: #e8e8e8;
      float: left;
      font-size: 12px;
      font-weight: 400; }
    /* line 238, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-one .part-section .language-list {
      display: inline-block;
      float: left;
      font-size: 12px;
      margin: 0 15px; }

/* line 249, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.header-level-two {
  color: #e8e8e8;
  height: 32px;
  padding: 40px 0; }
  /* line 254, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-two a {
    color: #000; }
  /* line 258, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-two a:hover {
    color: #000;
    text-decoration: underline; }
  /* line 263, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-two a:active {
    color: #000;
    text-decoration: underline; }
  /* line 268, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-two .search-wrapper {
    float: left;
    width: 25%; }
    /* line 272, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-two .search-wrapper input[type='text'] {
      background: none repeat scroll 0 0 #f7f8f9;
      border: medium none;
      color: #000;
      font-weight: 500;
      margin-left: 13px;
      padding-left: 10px;
      padding-top: 3px; }
  /* line 283, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-two .logo {
    float: left;
    text-align: center;
    width: 50%; }
  /* line 289, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-two .buttons-wrapper {
    float: left;
    margin: auto 0;
    width: 25%; }
    /* line 294, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-two .buttons-wrapper li {
      display: inline-block;
      float: right;
      margin: 0 10px; }
    /* line 300, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .header-level-two .buttons-wrapper .comments-count {
      background: url("../images/header-level-two/wishlist_bg.png") no-repeat scroll 0 0 transparent;
      height: 22px;
      left: 76px;
      position: absolute;
      text-align: center;
      top: -23px;
      width: 26px; }
      /* line 309, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .header-level-two .buttons-wrapper .comments-count span {
        color: #fff; }

/* line 318, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.header-level-three {
  background: none repeat scroll 0 0 #ff6766;
  color: #e8e8e8;
  height: 66px; }
  /* line 323, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .header-level-three a {
    color: #fff;
    font-weight: bold; }

/* line 329, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.menu-left {
  background: none repeat scroll 0 0 #f06160;
  float: left;
  padding: 23px 0;
  position: relative;
  width: 17%; }
  /* line 336, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-left a {
    margin: auto 5px; }
    /* line 339, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-left a span {
      margin-left: 15px; }
  /* line 344, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-left .fa-bars {
    margin-left: 65px; }
  /* line 348, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-left .cat-menu {
    background-color: #f9f9f9;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    display: 0;
    position: absolute;
    width: 290px;
    z-index: 1; }
    /* line 356, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-left .cat-menu a {
      color: #000;
      display: inline-block;
      width: 220px; }
  /* line 363, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-left .menu-list {
    color: #ff6766;
    list-style: disc;
    margin: 12px 0;
    margin-left: 35px; }
    /* line 369, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-left .menu-list li {
      padding: 10px 0;
      position: relative; }
    /* line 374, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-left .menu-list li::after {
      background-color: rgba(0, 0, 0, 0.2);
      content: '';
      height: 1px;
      left: -15px;
      position: absolute;
      top: 40px;
      width: 250px; }
    /* line 384, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-left .menu-list li:last-child::after {
      height: 0; }
  /* line 389, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-left .shirts-button li {
    margin-left: 35px; }
  /* line 393, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-left .shirts-button:hover .shirts-menu {
    display: block; }
  /* line 397, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-left .category-menu {
    display: none;
    top: 66px; }
  /* line 402, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-left .shirts-menu {
    display: none;
    left: 220px;
    top: -12px; }

/* line 409, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.menu-left:hover .category-menu {
  display: block; }

/* line 413, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.menu-center {
  border-top: 5px solid #f7f8f9;
  float: left;
  height: 61px;
  width: 66%; }
  /* line 419, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-center li {
    display: inline-block;
    float: left;
    padding: 18px 3px 23px 2px;
    position: relative;
    text-align: center;
    width: 16%; }
  /* line 428, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-center li:hover::before {
    background-color: #000;
    content: '';
    height: 5px;
    left: 0;
    position: absolute;
    top: -5px;
    width: 101%; }

/* line 439, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.menu-right {
  background: none repeat scroll 0 0 #f06160;
  float: left;
  padding: 23px 0;
  position: relative;
  width: 17%; }
  /* line 446, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-right a > img {
    float: left;
    margin-left: 30px;
    margin-right: 10px; }
  /* line 452, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-right .cart-menu {
    background-color: #f9f9f9;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    display: none;
    left: -142px;
    position: absolute;
    top: 66px;
    width: 340px;
    z-index: 1; }
    /* line 462, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-right .cart-menu a {
      color: #000; }
  /* line 467, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-right .cart-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    height: 90px;
    padding: 14px;
    padding-right: 50px; }
    /* line 473, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-right .cart-item .item-left {
      float: left;
      width: 37%; }
      /* line 477, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .menu-right .cart-item .item-left img {
        border: 1px solid rgba(0, 0, 0, 0.2); }
    /* line 482, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-right .cart-item .item-right {
      float: left;
      position: relative;
      width: 63%; }
      /* line 487, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .menu-right .cart-item .item-right h5 {
        font-weight: bold; }
      /* line 491, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .menu-right .cart-item .item-right span {
        color: #ff6766;
        font-weight: bold; }
      /* line 496, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .menu-right .cart-item .item-right .close-icon {
        color: #000;
        height: 14px;
        left: 195px;
        position: absolute;
        text-align: center;
        top: 0;
        width: 14px; }
  /* line 508, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-right .cart-total {
    height: 20px;
    margin: 15px; }
    /* line 512, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-right .cart-total p {
      color: #000;
      font-weight: bold; }
    /* line 517, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-right .cart-total .total-left {
      float: left;
      width: 50%; }
    /* line 522, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-right .cart-total .total-right {
      float: left;
      width: 50%; }
    /* line 527, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-right .cart-total .total-right p {
      text-align: right; }
  /* line 534, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-right .cart-buttons .cart-button {
    background: none repeat scroll 0 0 #ff6766;
    float: left;
    height: 20px;
    padding: 10px 0;
    text-align: center;
    width: 50%; }
    /* line 542, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .menu-right .cart-buttons .cart-button a {
      color: #e8e8e8; }
  /* line 547, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .menu-right .cart-buttons .cart-button:hover {
    background: none repeat scroll 0 0 #f06160; }

/* line 553, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.menu-right:hover .cart-menu {
  display: block; }

/* line 559, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.banner {
  background-image: url("../images/banner/banner_bg.png");
  height: 500px; }
  /* line 563, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .banner .description-left {
    padding: 110px 0;
    position: relative;
    width: 50%; }
    /* line 568, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .banner .description-left span {
      display: block; }
    /* line 572, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .banner .description-left span.name {
      -webkit-text-stroke-color: #fff;
      -webkit-text-stroke-width: 2px;
      font-size: 65px;
      font-weight: bolder; }
    /* line 579, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .banner .description-left span.description {
      font-size: 16px;
      font-weight: bolder;
      position: relative; }
      /* line 584, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .banner .description-left span.description span {
        display: inline; }
    /* line 589, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .banner .description-left span.description::after {
      background-color: #dcdcdc;
      content: '';
      height: 5px;
      left: 5px;
      position: absolute;
      top: 35px;
      width: 100px; }
    /* line 599, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .banner .description-left .additions {
      font-size: 16px;
      font-weight: bold;
      margin: 35px 0; }
      /* line 604, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .banner .description-left .additions span {
        display: inline; }
  /* line 610, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .banner .offer-tag {
    background: url("../images/banner/circle.png") no-repeat scroll 0 0 transparent;
    height: 106px;
    left: 92%;
    position: absolute;
    text-align: center;
    top: 20%;
    width: 103px; }
    /* line 619, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .banner .offer-tag .text {
      display: block;
      margin: 26%;
      width: 40%; }
      /* line 624, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .banner .offer-tag .text span {
        color: #fff;
        display: block;
        font-weight: bold; }
  /* line 632, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .banner .offer-tag::before {
    border-left: 2px solid #d1d1d1;
    content: '';
    display: inline-block;
    height: 98%;
    left: 44%;
    position: absolute;
    top: -80%; }

/* line 645, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.features {
  height: 80px;
  padding-top: 36px;
  position: relative; }
  /* line 650, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .features .wrapper::after {
    border-bottom: 2px dotted #999;
    bottom: -2px;
    content: '';
    left: 7%;
    position: absolute;
    width: 86%; }
  /* line 659, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .features li {
    display: block;
    float: left;
    height: 40px;
    width: 25%; }
    /* line 665, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .features li img {
      float: left;
      height: 40px;
      margin-right: 10px; }
    /* line 671, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .features li p {
      font-weight: bold;
      padding-right: 20px; }
  /* line 679, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .features li:last-child p {
    padding-top: 10px; }

/* line 685, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.features::after {
  border-bottom: 2px dotted #999;
  bottom: 1px;
  content: '';
  left: 7%;
  position: absolute;
  width: 86%; }

/* line 696, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.trending-clothing {
  padding: 95px 0; }
  /* line 699, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .trending-clothing .description > span {
    display: block;
    font-weight: bold;
    text-align: center; }
  /* line 705, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .trending-clothing .description .name {
    font-size: 26px; }
  /* line 709, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .trending-clothing .content {
    position: relative; }
    /* line 712, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .trending-clothing .content .select {
      display: block;
      font-weight: bold;
      margin-bottom: 42px;
      text-align: center; }
      /* line 718, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .trending-clothing .content .select a {
        color: #999;
        font-weight: bold;
        margin: 0 5px; }
      /* line 724, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .trending-clothing .content .select a.active {
        color: #000; }
    /* line 729, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .trending-clothing .content .dots-section {
      top: 540px; }
  /* line 734, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .trending-clothing .my-slides {
    height: 430px; }
    /* line 737, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .trending-clothing .my-slides .my-slide {
      display: none; }
    /* line 741, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .trending-clothing .my-slides .my-slide:first-child {
      display: block; }

/* line 749, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.promotion {
  height: 320px; }
  /* line 752, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .promotion .collumn {
    background-color: #f2f4f5;
    float: left;
    width: 50%; }
    /* line 757, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .promotion .collumn .big-font {
      font-size: 32px; }
    /* line 761, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .promotion .collumn span {
      display: block;
      font-weight: bold; }
    /* line 766, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .promotion .collumn span.color-pink {
      display: inline-block; }
    /* line 770, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .promotion .collumn span.with-border {
      border-bottom: 2px solid #d1d1d1;
      border-top: 2px solid #d1d1d1;
      display: inline-block;
      margin: 30px 0;
      padding: 0 4px;
      position: static; }
    /* line 779, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .promotion .collumn .side-left {
      display: inline-block;
      float: left;
      height: 200px;
      margin-bottom: 60px;
      margin-left: 50px;
      margin-top: 60px;
      text-align: center;
      width: 60%; }
      /* line 789, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .promotion .collumn .side-left .button {
        margin: 0 35%; }
    /* line 794, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .promotion .collumn .side-right {
      display: inline-block;
      float: right;
      height: 200px;
      margin-bottom: 60px;
      margin-right: 50px;
      margin-top: 60px;
      text-align: center;
      width: 60%; }
      /* line 804, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .promotion .collumn .side-right .button {
        margin: 0 29%; }
  /* line 810, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .promotion .collumn:hover {
    background-color: #eef1f2; }

/* line 817, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.featured-products {
  padding: 95px 0; }
  /* line 820, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .featured-products .description > span {
    display: block;
    font-weight: bold;
    text-align: center; }
  /* line 826, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .featured-products .description .name {
    font-size: 26px; }
  /* line 830, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .featured-products .content {
    position: relative; }
    /* line 833, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .featured-products .content .select {
      display: block;
      font-weight: bold;
      margin-bottom: 42px;
      text-align: center; }
      /* line 839, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .featured-products .content .select a {
        color: #999;
        font-weight: bold;
        margin: 0 5px; }
      /* line 845, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .featured-products .content .select a.active {
        color: #000; }
    /* line 850, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .featured-products .content .dots-section {
      top: 540px; }
  /* line 855, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .featured-products .my-slides {
    height: 860px; }

/* line 862, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.blog {
  background-color: #f2f4f5;
  padding: 95px 0; }
  /* line 866, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .blog .description > span {
    display: block;
    font-weight: bold;
    text-align: center; }
  /* line 872, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .blog .description .name {
    font-size: 26px; }
  /* line 876, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .blog .content {
    position: relative; }
  /* line 880, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .blog .select {
    display: block;
    height: 30px;
    margin-bottom: 42px;
    position: relative;
    text-align: center; }
    /* line 887, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .blog .select i {
      color: #fff;
      padding: 5px; }
    /* line 892, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .blog .select .prev-control:hover {
      background: none repeat scroll 0 0 #ff6766; }
    /* line 896, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .blog .select .next-control:hover {
      background: none repeat scroll 0 0 #ff6766; }
    /* line 900, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .blog .select .prev-control {
      background: none repeat scroll 0 0 #e4e5e5;
      height: 30px;
      left: 47%;
      position: absolute;
      top: 0;
      width: 30px; }
    /* line 909, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .blog .select .next-control {
      background: none repeat scroll 0 0 #e4e5e5;
      height: 30px;
      position: absolute;
      right: 47%;
      top: 0;
      width: 30px; }
  /* line 919, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .blog .my-slides {
    height: 265px; }
  /* line 923, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .blog .my-slide {
    display: none;
    height: inherit; }
    /* line 927, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .blog .my-slide h2 {
      color: #ff6766;
      display: block;
      font-size: 45px;
      font-weight: 300;
      text-align: left; }
      /* line 934, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .blog .my-slide h2 span {
        color: #000;
        font-size: 31px;
        font-weight: 300; }
    /* line 941, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .blog .my-slide .collumn {
      display: inline-block;
      float: left;
      height: inherit;
      width: 50%; }
      /* line 947, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .blog .my-slide .collumn .item-text {
        display: inline-block;
        float: left;
        padding-right: 20px;
        width: 47%; }
      /* line 954, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .blog .my-slide .collumn .item-img {
        display: inline-block;
        float: right;
        width: 47%; }
        /* line 959, D:/GIT/Aleksei_Rakitski/sass/style.scss */
        .blog .my-slide .collumn .item-img img {
          float: left;
          height: auto;
          max-height: 246px;
          max-width: 252px;
          width: auto; }
  /* line 970, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .blog .my-slide:first-child {
    display: block; }

/* line 977, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.months .right {
  border-bottom: 1px solid #d1d1d1;
  font-size: 12px;
  font-weight: bold;
  height: 12px;
  margin-bottom: 20px;
  padding-bottom: 20px; }
  /* line 985, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .months .right p {
    display: inline;
    float: left;
    width: 50%; }
  /* line 991, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .months .right span {
    display: inline;
    float: left;
    text-align: right;
    width: 50%; }
    /* line 997, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .months .right span i {
      color: #ff6766;
      font-size: 14px;
      padding: 0 5px; }

/* line 1005, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.months .item-bottom-text {
  font-size: 13px; }
  /* line 1008, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .months .item-bottom-text h4 {
    font-weight: 600; }
  /* line 1012, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .months .item-bottom-text p {
    color: #999;
    display: block;
    margin-bottom: 20px;
    margin-top: 8px;
    text-transform: none; }

/* line 1024, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.testimonials {
  padding: 95px 0; }
  /* line 1027, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .testimonials .description {
    text-align: center; }
    /* line 1030, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .testimonials .description span {
      display: block;
      font-weight: bold; }
  /* line 1036, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .testimonials .description .name {
    font-size: 26px; }
  /* line 1040, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .testimonials .content {
    position: relative; }
  /* line 1044, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .testimonials .my-slides {
    height: 140px; }
    /* line 1047, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .testimonials .my-slides .my-slide {
      display: none;
      font-weight: 500;
      height: inherit; }
    /* line 1053, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .testimonials .my-slides .fa {
      color: #fff; }
    /* line 1057, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .testimonials .my-slides .fa-quote-left {
      margin-right: 15px; }
    /* line 1061, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .testimonials .my-slides .fa-quote-right {
      margin-left: 15px; }
    /* line 1065, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .testimonials .my-slides p.description {
      color: #555;
      font-size: 17px;
      font-style: italic;
      margin: 0 auto 40px;
      text-align: center;
      text-transform: none;
      width: 64%; }
    /* line 1075, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .testimonials .my-slides .author-box {
      margin: 0 auto;
      overflow: hidden;
      width: 22%; }
      /* line 1080, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .testimonials .my-slides .author-box img {
        float: left;
        margin-right: 15px;
        width: 15%; }
    /* line 1087, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .testimonials .my-slides .author-text {
      float: left;
      text-align: left;
      width: 79%; }
      /* line 1092, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .testimonials .my-slides .author-text h4 {
        color: #232323;
        font-size: 16px;
        font-weight: bold;
        margin-bottom: 6px; }
      /* line 1099, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .testimonials .my-slides .author-text p {
        color: #777;
        font-size: 12px;
        text-transform: uppercase; }
    /* line 1106, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .testimonials .my-slides .my-slide:first-child {
      display: block; }

/* line 1114, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.brand-logos {
  padding: 10px 0; }
  /* line 1117, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .brand-logos h2 {
    color: #232323;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    width: 9%; }
  /* line 1126, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .brand-logos .dotted-line {
    border-bottom: 1px dotted #232323;
    border-top: 1px dotted #232323;
    float: left;
    height: 3px;
    margin-top: 9px;
    width: 86%; }
  /* line 1135, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .brand-logos .select {
    display: block;
    height: 18px;
    position: relative;
    text-align: center; }
    /* line 1141, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .brand-logos .select i {
      font-weight: bold; }
    /* line 1145, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .brand-logos .select .prev-control {
      background-color: transparent;
      color: #999;
      height: 18px;
      padding: 0 4px;
      position: relative;
      top: 0;
      width: 18px; }
    /* line 1155, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .brand-logos .select .next-control {
      background-color: transparent;
      color: #999;
      height: 18px;
      padding: 0 4px;
      position: relative;
      top: 0;
      width: 18px; }
    /* line 1165, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .brand-logos .select .prev-control:hover {
      color: #232323; }
    /* line 1169, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .brand-logos .select .next-control:hover {
      color: #232323; }
  /* line 1174, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .brand-logos .description {
    margin-bottom: 60px; }
  /* line 1178, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .brand-logos .content {
    position: relative; }
  /* line 1182, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .brand-logos .my-slides {
    height: 120px; }
    /* line 1185, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .brand-logos .my-slides .my-slide {
      display: inline-block;
      float: left;
      height: inherit;
      margin: 0 10px;
      text-align: center;
      width: 175px; }
    /* line 1194, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .brand-logos .my-slides .my-slide:nth-child(7) {
      display: none; }
    /* line 1198, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .brand-logos .my-slides .my-slide:nth-child(8) {
      display: none; }

/* line 1206, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.footer-top {
  background: none repeat scroll 0 0 #2a2a2a;
  height: 32px;
  padding: 18px 0; }
  /* line 1211, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .footer-top .newsletter-wrapper {
    float: left;
    width: 50%; }
    /* line 1215, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .footer-top .newsletter-wrapper a {
      font-weight: 500; }
      /* line 1218, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .footer-top .newsletter-wrapper a i {
        margin-right: 5px; }
    /* line 1223, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .footer-top .newsletter-wrapper input[type='text'] {
      background: none repeat scroll 0 0 #232323;
      border: medium none;
      color: #fff;
      margin: 0 10px;
      padding: 8px 15px;
      width: 43%; }
    /* line 1232, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .footer-top .newsletter-wrapper input[type='submit'] {
      background: none repeat scroll 0 0 #232323;
      border: 1px solid #fff;
      color: #fff;
      font-weight: 500;
      padding: 7px 15px;
      text-transform: uppercase; }
  /* line 1242, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .footer-top .credit-cards {
    float: left;
    width: 50%; }
    /* line 1246, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .footer-top .credit-cards a {
      display: inline-block;
      float: left;
      margin: 0 5px; }
      /* line 1251, D:/GIT/Aleksei_Rakitski/sass/style.scss */
      .footer-top .credit-cards a img {
        height: 32px;
        width: auto; }

/* line 1261, D:/GIT/Aleksei_Rakitski/sass/style.scss */
.site-map {
  background: none repeat scroll 0 0 #232323; }
  /* line 1264, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .site-map .wrapper {
    height: 270px;
    padding: 70px 0; }
  /* line 1269, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .site-map .collumn {
    float: left;
    padding: 0 15px;
    width: 22%; }
    /* line 1274, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .site-map .collumn h5 {
      color: #cecece;
      font-size: 15px;
      font-weight: bold; }
    /* line 1280, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .site-map .collumn .colorline {
      border-top: 1px solid #1a1a1a;
      margin-bottom: 30px;
      margin-top: 18px;
      position: relative; }
    /* line 1287, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .site-map .collumn .colorline::after {
      border-top: 1px solid #b65050;
      content: '';
      left: 0;
      position: absolute;
      top: -1px;
      width: 52px; }
    /* line 1296, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .site-map .collumn address {
      color: #aaa;
      font-weight: 500;
      line-height: 35px;
      text-transform: none; }
  /* line 1308, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .site-map ul.navigation li a {
    color: #aaa;
    display: block;
    font-weight: 500;
    padding: 7px 0;
    text-transform: none; }
  /* line 1320, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  .site-map ul.social-links li {
    display: inline;
    margin-right: 5px; }
    /* line 1324, D:/GIT/Aleksei_Rakitski/sass/style.scss */
    .site-map ul.social-links li a {
      background: none repeat scroll 0 0 #373737;
      color: #aaa;
      display: inline-block;
      font-size: 14px;
      height: 25px;
      padding: 12px 0 0 13px;
      width: 25px; }

/* line 1339, D:/GIT/Aleksei_Rakitski/sass/style.scss */
footer .copyrights {
  background: none repeat scroll 0 0 #181818;
  padding: 18px 0; }
  /* line 1343, D:/GIT/Aleksei_Rakitski/sass/style.scss */
  footer .copyrights .wrapper {
    color: #fff;
    font-size: 12px;
    text-align: center; }

/*# sourceMappingURL=style.css.map */