/*-----------GENERAL------------*/
body {
  background: none repeat scroll 0 0 #f7f8f9;
  font-family: 'Cabin', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  text-transform: uppercase;
}

a {
  color: #e8e8e8;
  text-decoration: none;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.fa {
  font-size: 17px;
}

.floatright {
  float: right;
  position: relative;
}

span.color-pink {
  color: #ff6766;
}

span.color-gainsboro {
  color: gainsboro;
}

.multi-line {
  border-bottom: 2px solid #ff6766;
  border-top: 1px solid #ff6766;
  height: 5px;
  margin: 0 auto 20px;
  width: 40px;
}

.button {
  background-color: transparent;
  border: 3px solid #ff6766;
  padding: 10px 15px;
  text-align: center;
  height: 20px;
  float: left;
}

.button a {
  font-weight: bolder;
  color: black;
}

.button:hover {
  background-color: #f06160;
}

.button:hover a {
  color: white;
}

.mySlide {
  height: 430px;
}

.mySlide .item {
  background-color: white;
  text-align: center;
  margin: 15px;
  width: 260px;
  height: inherit;
  position: relative;
  float: left;
}

.mySlide .item .item-image {
  position: relative;
}

.mySlide .item .item-image img {
  width: 100%;
  height: auto;
}

.mySlide .item .item-image .item-menu {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.5);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  opacity: 0;
  transition: .25s;
}

.mySlide .item .item-image .item-menu ul {
  background: none repeat scroll 0 0 rgba(255, 255, 255, 0.9);
  list-style: outside none none;
  margin: 165px 0 0;
  padding: 0;
}

.mySlide .item .item-image .item-menu ul li {
  padding: 2px 7px;
  border-right: 1px solid gainsboro;
  display: inline-block;
}

.mySlide .item .item-image .item-menu ul li a {
  color: black;
}

.mySlide .item .item-image .item-menu ul li:first-child {
  padding-right: none;
  border-right: none;
}

.mySlide .item .item-image .item-menu ul li:last-child {
  border-right: none;
}

.mySlide .item .item-new {
  font-size: 11px;
  font-weight: bold;
  border: 1px solid #ff6766;
  left: 15px;
  position: absolute;
  top: 15px;
}

.mySlide .item .item-new p {
  padding: 2px 10px;
  background-color: #ff6766;
  color: white;
}

.mySlide .item .item-sub {
  padding: 20px 10px;
}

.mySlide .item .item-sub .br {
  display: block;
}

.mySlide .item .item-sub .color-gainsboro {
  text-decoration: line-through;
}

.mySlide .item:hover .item-menu {
  opacity: 1;
  transition: all 0.25s ease 0s;
}

.dots-section {
  position: absolute;
  left: 50%;
  width: 50%;
  padding-left: 7px;
  margin-left: -26%;
  text-align: center;
}

.dots-section .dot {
  background-color: #ddd;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  display: inline-block;
  width: 6px;
  height: 6px;
  margin: 1px;
  text-indent: -999px;
}

.dots-section .active {
  background-color: #FF6766;
  border: 1px solid #FF6766;
  height: 8px;
  margin: 0;
  width: 8px;
}

/*-----------HEADER LEVEL ONE------------*/
.header-level-one {
  height: 17px;
  color: #e8e8e8;
  background: none repeat scroll 0 0 #212121;
  padding: 12px 0;
}

.header-level-one a {
  color: #e8e8e8;
}

.header-level-one a:hover, .header-level-one a:active {
  color: #ff6766;
}

.header-level-one i {
  font-size: 17px;
  margin-right: 7px;
}

.header-level-one .part-section {
  width: 50%;
  float: left;
  padding-bottom: -8px;
}

.header-level-one .part-section img {
  float: left;
  margin-right: 10px;
}

.header-level-one .part-section p {
  color: #e8e8e8;
  font-size: 12px;
  font-weight: 400;
  float: left;
}

.header-level-one .part-section ul.language-list {
  margin: 0 15px;
  font-size: 12px;
  display: inline-block;
  float: left;
}

/*-----------HEADER LEVEL TWO------------*/
.header-level-two {
  height: 32px;
  color: #e8e8e8;
  padding: 40px 0;
}

.header-level-two a {
  color: black;
}

.header-level-two a:hover, .header-level-two a:active {
  color: black;
  text-decoration: underline;
}

.header-level-two .search-wrapper {
  width: 25%;
  float: left;
}

.header-level-two .search-wrapper input[type="text"] {
  background: none repeat scroll 0 0 #f7f8f9;
  border: medium none;
  color: #000;
  font-weight: 500;
  margin-left: 13px;
  padding-left: 10px;
  padding-top: 3px;
}

.header-level-two .logo {
  text-align: center;
  width: 50%;
  float: left;
}

.header-level-two .buttons-wrapper {
  margin: auto 0;
  width: 25%;
  float: left;
}

.header-level-two .buttons-wrapper li {
  margin: 0 10px;
  display: inline-block;
  float: right;
}

.header-level-two .buttons-wrapper .comments-count {
  background: url("../images/header-level-two/wishlist_bg.png") no-repeat scroll 0 0 transparent;
  height: 22px;
  left: 76px;
  position: absolute;
  top: -23px;
  width: 26px;
  text-align: center;
}

.header-level-two .buttons-wrapper .comments-count span {
  color: white;
}

/*-----------HEADER LEVEL THREE------------*/
.header-level-three {
  height: 66px;
  color: #e8e8e8;
  background: none repeat scroll 0 0 #ff6766;
}

.header-level-three a {
  color: white;
  font-weight: bold;
}

.header-level-three .menu-left {
  padding: 23px 0;
  background: none repeat scroll 0 0 #f06160;
  width: 17%;
  position: relative;
  float: left;
}

.header-level-three .menu-left a {
  margin: auto 5px;
}

.header-level-three .menu-left a span {
  margin-left: 15px;
}

.header-level-three .menu-left .fa-bars {
  margin-left: 65px;
}

.header-level-three .menu-left .cat-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 290px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header-level-three .menu-left .cat-menu a {
  color: black;
  display: inline-block;
  width: 220px;
}

.header-level-three .menu-left .menu-list {
  color: #ff6766;
  list-style: disc;
  margin: 12px 0;
  margin-left: 35px;
}

.header-level-three .menu-left .menu-list li {
  padding: 10px 0;
  position: relative;
}

.header-level-three .menu-left .menu-list li:after {
  content: '';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.2);
  height: 1px;
  width: 250px;
  left: -15px;
  top: 40px;
}

.header-level-three .menu-left .menu-list li:last-child:after {
  height: 0px;
}

.header-level-three .menu-left .shirts-button .menu-list li {
  margin-left: 35px;
}

.header-level-three .menu-left .shirts-button:hover .shirts-menu {
  display: block;
}

.header-level-three .menu-left .category-menu {
  top: 66px;
}

.header-level-three .menu-left .shirts-menu {
  top: -12px;
  left: 220px;
}

.header-level-three .menu-left:hover .category-menu {
  display: block;
}

.header-level-three .menu-center {
  border-top: 5px solid #f7f8f9;
  width: 66%;
  height: 61px;
  float: left;
}

.header-level-three .menu-center li {
  width: 16%;
  padding: 18px 3px 23px 2px;
  text-align: center;
  display: inline-block;
  float: left;
  position: relative;
}

.header-level-three .menu-center li:hover:before {
  content: '';
  position: absolute;
  background-color: black;
  height: 5px;
  width: 101%;
  left: 0;
  top: -5px;
}

.header-level-three .menu-right {
  padding: 23px 0;
  background: none repeat scroll 0 0 #f06160;
  width: 17%;
  position: relative;
  float: left;
}

.header-level-three .menu-right a > img {
  float: left;
  margin-left: 30px;
  margin-right: 10px;
}

.header-level-three .menu-right .cart-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  width: 340px;
  top: 66px;
  left: -142px;
  box-shadow: 0px 8px 8px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header-level-three .menu-right .cart-menu a {
  color: black;
}

.header-level-three .menu-right .cart-menu .cart-item {
  padding: 14px;
  padding-right: 50px;
  height: 90px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.header-level-three .menu-right .cart-menu .cart-item .item-left {
  width: 37%;
  float: left;
}

.header-level-three .menu-right .cart-menu .cart-item .item-left img {
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.header-level-three .menu-right .cart-menu .cart-item .item-right {
  width: 63%;
  float: left;
  position: relative;
}

.header-level-three .menu-right .cart-menu .cart-item .item-right h5 {
  font-weight: bold;
}

.header-level-three .menu-right .cart-menu .cart-item .item-right span {
  font-weight: bold;
  color: #ff6766;
}

.header-level-three .menu-right .cart-menu .cart-item .item-right .close-icon {
  color: black;
  height: 14px;
  top: 0px;
  left: 195px;
  position: absolute;
  width: 14px;
  text-align: center;
}

.header-level-three .menu-right .cart-menu .cart-total {
  height: 20px;
  margin: 15px 15px;
}

.header-level-three .menu-right .cart-menu .cart-total p {
  font-weight: bold;
  color: black;
}

.header-level-three .menu-right .cart-menu .cart-total .total-left, .header-level-three .menu-right .cart-menu .cart-total .total-right {
  width: 50%;
  float: left;
}

.header-level-three .menu-right .cart-menu .cart-total .total-right p {
  text-align: right;
}

.header-level-three .menu-right .cart-menu .cart-buttons .cart-button {
  background: none repeat scroll 0 0 #ff6766;
  padding: 10px 0;
  text-align: center;
  width: 50%;
  height: 20px;
  float: left;
}

.header-level-three .menu-right .cart-menu .cart-buttons .cart-button a {
  color: #e8e8e8;
}

.header-level-three .menu-right .cart-menu .cart-buttons .cart-button:hover {
  background: none repeat scroll 0 0 #f06160;
}

.header-level-three .menu-right:hover .cart-menu {
  display: block;
}

/*-----------BANNER------------*/
.banner {
  background-image: url(../images/banner/banner_bg.png);
  height: 500px;
}

.banner .description-left {
  padding: 110px 0;
  width: 50%;
  position: relative;
}

.banner .description-left span {
  display: block;
}

.banner .description-left span.name {
  font-weight: bolder;
  font-size: 65px;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: #fff;
}

.banner .description-left span.description {
  font-weight: bolder;
  font-size: 16px;
  position: relative;
}

.banner .description-left span.description span {
  display: inline;
}

.banner .description-left span.description:after {
  content: '';
  position: absolute;
  background-color: gainsboro;
  height: 5px;
  width: 100px;
  left: 5px;
  top: 35px;
}

.banner .description-left .additions {
  font-weight: bold;
  font-size: 16px;
  margin: 35px 0;
}

.banner .description-left .additions span {
  display: inline;
}

.banner .description-left .offer-tag {
  background: url("../images/banner/circle.png") no-repeat scroll 0 0 transparent;
  width: 103px;
  height: 106px;
  left: 92%;
  position: absolute;
  top: 20%;
  text-align: center;
}

.banner .description-left .offer-tag .text {
  margin: 26%;
  width: 40%;
  display: block;
}

.banner .description-left .offer-tag .text span {
  display: block;
  font-weight: bold;
  color: white;
}

.banner .description-left .offer-tag:before {
  display: inline-block;
  content: "";
  border-left: 2px solid #d1d1d1;
  height: 98%;
  position: absolute;
  top: -80%;
  left: 44%;
}

/*-----------FEATURES------------*/
.features {
  height: 80px;
  padding-top: 36px;
  position: relative;
}

.features .wrapper:after {
  position: absolute;
  content: "";
  bottom: -2px;
  left: 7%;
  border-bottom: 2px dotted #999;
  width: 86%;
}

.features ul li {
  display: block;
  float: left;
  width: 25%;
  height: 40px;
}

.features ul li img {
  height: 40px;
  float: left;
  margin-right: 10px;
}

.features ul li p {
  font-weight: bold;
  padding-right: 20px;
}

.features ul li:last-child p {
  padding-top: 10px;
}

.features:after {
  position: absolute;
  content: "";
  bottom: 1px;
  left: 7%;
  border-bottom: 2px dotted #999;
  width: 86%;
}

/*-----------TRENDING CLOTHING------------*/
.trending-clothing {
  padding: 95px 0;
}

.trending-clothing .description > span {
  text-align: center;
  font-weight: bold;
  display: block;
}

.trending-clothing .description .name {
  font-size: 26px;
}

.trending-clothing .content {
  position: relative;
}

.trending-clothing .content .select {
  margin-bottom: 42px;
  text-align: center;
  font-weight: bold;
  display: block;
}

.trending-clothing .content .select a {
  color: #999999;
  margin: 0px 5px;
  font-weight: bold;
}

.trending-clothing .content .select a.active {
  color: black;
}

.trending-clothing .content .dots-section {
  top: 540px;
}

.trending-clothing .mySlides {
  height: 430px;
}

.trending-clothing .mySlides .mySlide {
  display: none;
}

.trending-clothing .mySlides .mySlide:first-child {
  display: block;
}

/*-----------PROMOTION------------*/
.promotion {
  height: 320px;
}

.promotion .collumn {
  background-color: #f2f4f5;
  width: 50%;
  float: left;
}

.promotion .collumn .side-left {
  margin-left: 50px;
  float: left;
}

.promotion .collumn .side-left .button {
  margin: 0 35%;
}

.promotion .collumn .side-right {
  margin-right: 50px;
  float: right;
}

.promotion .collumn .side-right .button {
  margin: 0 29%;
}

.promotion .collumn .side-left, .promotion .collumn .side-right {
  margin-top: 60px;
  margin-bottom: 60px;
  height: 200px;
  text-align: center;
  display: inline-block;
  width: 60%;
}

.promotion .collumn .side-left span, .promotion .collumn .side-right span {
  font-weight: bold;
  display: block;
}

.promotion .collumn .side-left span.color-pink, .promotion .collumn .side-right span.color-pink {
  display: inline-block;
}

.promotion .collumn .side-left span.with-border, .promotion .collumn .side-right span.with-border {
  display: inline-block;
  border-top: 2px solid #d1d1d1;
  border-bottom: 2px solid #d1d1d1;
  padding: 0 4px;
  margin: 30px 0;
  position: static;
}

.promotion .collumn .side-left .big-font, .promotion .collumn .side-right .big-font {
  font-size: 32px;
}

.promotion .collumn:hover {
  background-color: #eef1f2;
}

/*-----------FEATURED PRODUCTS------------*/
.featured-products {
  padding: 95px 0;
}

.featured-products .description > span {
  text-align: center;
  font-weight: bold;
  display: block;
}

.featured-products .description .name {
  font-size: 26px;
}

.featured-products .content {
  position: relative;
}

.featured-products .content .select {
  margin-bottom: 42px;
  text-align: center;
  font-weight: bold;
  display: block;
}

.featured-products .content .select a {
  color: #999999;
  margin: 0px 5px;
  font-weight: bold;
}

.featured-products .content .select a.active {
  color: black;
}

.featured-products .content .dots-section {
  top: 540px;
}

.featured-products .mySlides {
  height: 860px;
}

/*-----------BLOG------------*/
.blog {
  background-color: #f2f4f5;
  padding: 95px 0;
}

.blog .description > span {
  text-align: center;
  font-weight: bold;
  display: block;
}

.blog .description .name {
  font-size: 26px;
}

.blog .content {
  position: relative;
}

.blog .content .select {
  display: block;
  height: 30px;
  margin-bottom: 42px;
  text-align: center;
  position: relative;
}

.blog .content .select .prev-control, .blog .content .select .next-control {
  position: absolute;
  background: none repeat scroll 0 0 #e4e5e5;
  width: 30px;
  height: 30px;
  top: 0;
}

.blog .content .select .prev-control i, .blog .content .select .next-control i {
  padding: 5px 5px;
  color: white;
}

.blog .content .select .prev-control:hover, .blog .content .select .next-control:hover {
  background: none repeat scroll 0 0 #ff6766;
}

.blog .content .select .prev-control {
  left: 47%;
}

.blog .content .select .next-control {
  right: 47%;
}

.blog .mySlides {
  height: 265px;
}

.blog .mySlides .mySlide {
  height: inherit;
  display: none;
}

.blog .mySlides .mySlide .collumn {
  width: 50%;
  height: inherit;
  display: inline-block;
  float: left;
}

.blog .mySlides .mySlide .collumn .item-text {
  width: 47%;
  padding-right: 20px;
  display: inline-block;
  float: left;
}

.blog .mySlides .mySlide .collumn .item-text h2 {
  font-size: 45px;
  text-align: left;
  font-weight: 300;
  color: #ff6766;
  display: block;
}

.blog .mySlides .mySlide .collumn .item-text h2 span {
  color: black;
  font-size: 31px;
  font-weight: 300;
}

.blog .mySlides .mySlide .collumn .item-text .months .right {
  font-weight: bold;
  font-size: 12px;
  height: 12px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: 1px solid #d1d1d1;
}

.blog .mySlides .mySlide .collumn .item-text .months .right p {
  width: 50%;
  display: inline;
  float: left;
}

.blog .mySlides .mySlide .collumn .item-text .months .right span {
  text-align: right;
  width: 50%;
  display: inline;
  float: left;
}

.blog .mySlides .mySlide .collumn .item-text .months .right span i {
  padding: 0 5px;
  color: #ff6766;
  font-size: 14px;
}

.blog .mySlides .mySlide .collumn .item-text .months .item-bottom-text {
  font-size: 13px;
}

.blog .mySlides .mySlide .collumn .item-text .months .item-bottom-text h4 {
  font-weight: 600;
}

.blog .mySlides .mySlide .collumn .item-text .months .item-bottom-text p {
  color: #999999;
  display: block;
  margin-top: 8px;
  margin-bottom: 20px;
  text-transform: none;
}

.blog .mySlides .mySlide .collumn .item-img {
  width: 47%;
  display: inline-block;
  float: right;
}

.blog .mySlides .mySlide .collumn .item-img img {
  height: auto;
  width: auto;
  max-width: 252px;
  max-height: 246px;
  float: left;
}

.blog .mySlides .mySlide:first-child {
  display: block;
}

/*-----------TESTIMONIALS------------*/
.testimonials {
  padding: 95px 0;
}

.testimonials .description {
  text-align: center;
}

.testimonials .description span {
  font-weight: bold;
  display: block;
}

.testimonials .description .name {
  font-size: 26px;
}

.testimonials .content {
  position: relative;
}

.testimonials .mySlides {
  height: 140px;
}

.testimonials .mySlides .mySlide {
  font-weight: 500;
  height: inherit;
  display: none;
}

.testimonials .mySlides .mySlide p.description {
  text-align: center;
  text-transform: none;
  color: #555555;
  font-size: 17px;
  font-style: italic;
  margin: 0 auto 40px;
  width: 64%;
}

.testimonials .mySlides .mySlide p.description .fa {
  color: #ffffff;
}

.testimonials .mySlides .mySlide p.description .fa-quote-left {
  margin-right: 15px;
}

.testimonials .mySlides .mySlide p.description .fa-quote-right {
  margin-left: 15px;
}

.testimonials .mySlides .mySlide .author-box {
  margin: 0 auto;
  overflow: hidden;
  width: 22%;
}

.testimonials .mySlides .mySlide .author-box img {
  float: left;
  margin-right: 15px;
  width: 15%;
}

.testimonials .mySlides .mySlide .author-box .author-text {
  float: left;
  text-align: left;
  width: 79%;
}

.testimonials .mySlides .mySlide .author-box .author-text h4 {
  font-weight: bold;
  color: #232323;
  font-size: 16px;
  margin-bottom: 6px;
}

.testimonials .mySlides .mySlide .author-box .author-text p {
  color: #777777;
  font-size: 12px;
  text-transform: uppercase;
}

.testimonials .mySlides .mySlide:first-child {
  display: block;
}

/*-----------BRAND LOGOS------------*/
.brand-logos {
  padding: 10px 0;
}

.brand-logos .description {
  margin-bottom: 60px;
}

.brand-logos .description h2 {
  font-weight: bold;
  color: #232323;
  float: left;
  font-size: 18px;
  text-transform: uppercase;
  width: 9%;
}

.brand-logos .description .dotted-line {
  border-bottom: 1px dotted #232323;
  border-top: 1px dotted #232323;
  height: 3px;
  float: left;
  margin-top: 9px;
  width: 86%;
}

.brand-logos .description .select {
  display: block;
  height: 18px;
  text-align: center;
  position: relative;
}

.brand-logos .description .select .prev-control, .brand-logos .description .select .next-control {
  padding: 0 4px;
  position: relative;
  background-color: transparent;
  color: #999;
  width: 18px;
  height: 18px;
  top: 0;
}

.brand-logos .description .select .prev-control i, .brand-logos .description .select .next-control i {
  font-weight: bold;
}

.brand-logos .description .select .prev-control:hover, .brand-logos .description .select .next-control:hover {
  color: #232323;
}

.brand-logos .content {
  position: relative;
}

.brand-logos .mySlides {
  height: 120px;
}

.brand-logos .mySlides .mySlide {
  margin: 0 10px;
  height: inherit;
  display: inline-block;
  text-align: center;
  width: 175px;
  float: left;
}

.brand-logos .mySlides .mySlide:nth-child(7), .brand-logos .mySlides .mySlide:nth-child(8) {
  display: none;
}

/*-----------FOOTER TOP------------*/
footer .footer-top {
  padding: 18px 0;
  height: 32px;
  background: none repeat scroll 0 0 #2a2a2a;
}

footer .footer-top .newsletter-wrapper {
  width: 50%;
  float: left;
}

footer .footer-top .newsletter-wrapper a i {
  margin-right: 5px;
}

footer .footer-top .newsletter-wrapper input[type="text"] {
  background: none repeat scroll 0 0 #232323;
  border: medium none;
  color: #fff;
  margin: 0 10px;
  padding: 8px 15px;
  width: 43%;
}

footer .footer-top .newsletter-wrapper input[type="submit"] {
  background: none repeat scroll 0 0 #232323;
  border: 1px solid #fff;
  color: #fff;
  padding: 7px 15px;
  text-transform: uppercase;
}

footer .footer-top .credit-cards {
  width: 50%;
  float: left;
}

footer .footer-top .credit-cards a {
  display: inline-block;
  float: left;
  margin: 0 5px;
}

footer .footer-top .credit-cards a img {
  width: auto;
  height: 32px;
}

/*-----------SITE MAP------------*/
footer .site-map {
  background: none repeat scroll 0 0 #232323;
}

/*-----------COPYRIGHTS------------*/
footer .copyrights {
  padding: 18px 0;
  background: none repeat scroll 0 0 #181818;
}

footer .copyrights .wrapper {
  font-size: 12px;
  text-align: center;
  color: white;
}
