<template id="event-general">
    <style>
        @font-face {
            font-family: Balance;
            src: url('../assets/BalanceBold.otf');
        }

        @font-face {
            font-family: Transport;
            src: url('../assets/TransportMedium.ttf') format('truetype');
        }

        @font-face {
            font-family: Minion Pro;
            src: url('../assets/MinionProRegular.ttf') format('truetype');
        }

        * {
            padding: 0;
            margin: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        *:before, *:after {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        a {
            color: black;
            display: inline-block;
            text-decoration: none;
        }

        .row{
            border-bottom: 1px solid lightgrey;
            font-family: Transport;
            margin: 0 50px;
            padding: 69px 0;
        }

        .row:before, .row:after {
            content: " ";
            display: table;
        }

        .row:after {
            clear: both;
        }

        .col-first {
            float: left;
            margin: 0;
            min-height: 1px;
            position: relative;
            width: 11%;
        }

        .col-first span {
            display: block;
            text-transform: uppercase;
        }

        .col-first .month {
            font-size: 30px;
            margin-bottom: 25px;
            position: relative;
        }

        .col-first .under {
            font-family: Balance;
            font-size: 38px;
            left: 0px;
            position: absolute;
            top: 5px;
        }

        .col-first .day {
            font-size: 70px;
            font-weight: bold;
        }

        .col-second {
            float: left;
            margin: 0;
            min-height: 1px;
            position: relative;
            width: 44%;
        }

        .col-second img {
            width: 100%;
        }

        .col-third {
            float: left;
            margin: 0;
            min-height: 1px;
            position: relative;
            padding-left: 80px;
            width: 41.66666667%;
        }

        .col-third h4 {
            font-size: 34px;
            margin-bottom: 10px;
        }

        .col-third h5 {
            font-size: 22px;
            margin-bottom: 6px;
        }

        .col-third .descriptionitem {
            border-bottom: 1px solid lightgrey;
            display: block;
            font-family: Minion Pro;
            font-size: 22px;
            height: 145px;
            margin: 28px 0;
        }

        .col-third .button {
            font-size: 23px;
            cursor: pointer;
        }
    </style>
    <div class="row">
        <div class="col-first">
            <span class="month">
                <span class="under">_</span>
            </span>
            <span class="day"></span>
        </div> +
        <div class="col-second"><img src=""></div>
        <div class="col-third"> + 
            <h4></h4>
            <h5></h5>
            <h5>Descrition</h5>
            <p class="descriptionitem"></p>
            <div class="button">View Event Details</div>
        </div>
    </div>
</template>

<script type="text/javascript" src="lib/webcomponents-lite.js"></script>
<script>
    (function(){
        var EventGeneralProto = Object.create(HTMLDivElement.prototype);
        var importDoc = document.currentScript.ownerDocument;

        EventGeneralProto.createdCallback = function() {
            var root = this.createShadowRoot();
            var template = importDoc.querySelector('#event-general');
            root.appendChild(document.importNode(template.content, true));
        };

        document.registerElement('event-general', {
            prototype: EventGeneralProto
        });
    })(this);
</script>     
