<template id="event-general">
    <style>
        @font-face {
            font-family: Balance;
            src: url('../assets/BalanceBold.otf');
        }

        @font-face {
            font-family: Transport;
            src: url('../assets/TransportMedium.ttf') format('truetype');
        }

        @font-face {
            font-family: Minion Pro;
            src: url('../assets/MinionProRegular.ttf') format('truetype');
        }

        ::content * {
            padding: 0;
            margin: 0;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        ::content *:before, ::content *:after {
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

        ::content a {
            color: black;
            display: inline-block;
            text-decoration: none;
        }

        ::content .row{
            border-bottom: 1px solid lightgrey;
            font-family: Transport;
            margin: 0 50px;
            padding: 69px 0;
        }

        ::content .row:before, ::content .row:after {
            content: " ";
            display: table;
        }

        ::content .row:after {
            clear: both;
        }

        ::content .col-first {
            float: left;
            margin: 0;
            min-height: 1px;
            position: relative;
            width: 11%;
        }

        ::content .col-first span {
            display: block;
            text-transform: uppercase;
        }

        ::content .col-first .month {
            font-size: 30px;
            margin-bottom: 25px;
            position: relative;
        }

        ::content .col-first .under {
            font-family: Balance;
            font-size: 38px;
            left: 0px;
            position: absolute;
            top: 5px;
        }

        ::content .col-first .day {
            font-size: 70px;
            font-weight: bold;
        }

        ::content .col-second {
            float: left;
            margin: 0;
            min-height: 1px;
            position: relative;
            width: 44%;
        }

        ::content .col-second img {
            width: 100%;
        }

        ::content .col-third {
            float: left;
            margin: 0;
            min-height: 1px;
            position: relative;
            padding-left: 80px;
            width: 41.66666667%;
        }

        ::content .col-third h4 {
            font-size: 34px;
            margin-bottom: 10px;
        }

        ::content .col-third h5 {
            font-size: 22px;
            margin-bottom: 6px;
        }

        ::content .col-third .descriptionitem {
            border-bottom: 1px solid lightgrey;
            display: block;
            font-family: Minion Pro;
            font-size: 22px;
            height: 145px;
            margin: 28px 0;
        }

        ::content .col-third .button {
            font-size: 23px;
            cursor: pointer;
        }
    </style>
    <content></content>
</template>

<script type="text/javascript" src="/scripts/event-component.js"></script>        
